body {font-family: Georgia;
color:black}
#container {width: 60%;
margin: auto;}
h1 {font-size: 300%;}
h1,
h2 {text-transform:uppercase;
font-weight: 100;
  color: red;}
img {width: 100%;}
footer {margin-top: 70px;
background-color: red;
color: White;}

footer p {text-align: center;
padding-top: 15px;
padding-bottom: 15px;}
@media screen and (max-with:768px)
{#container {width: 90%;}
h1 {font-size: 200%;}